@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');

/*General*/
a {
  color: #3f8aBf;
  text-decoration: none;
  margin: 1px auto;
  
}

a:hover {
  color: #3079ab;
}

a:visited {
  color: #5a6772;
}

#color div {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 1px;
  padding: 0;
  border: solid black 1px;
}
#color {
  width: auto;
  height: auto;
  margin: 30px 10%;
}
